.header {
  height: 65px;
  background-color: #DAFFE7;
  /*太さ1px 種類solid 色#DDDDDD のborder-bottomをつけてください*/
  border-bottom:1px solid #DDDDDD;
}

.header-left {
  float: left;
  /*上下のpaddingを10px 左右のpaddingを60px にしてください*/
  padding:10px 60px;
}

.header-right {
  float: right;
}

.header-right li {
  float: left;
}

.main {
  width: 1300px;
}

.footer {
  height: 200px;
  background-color: #FCFFC0;
  clear: left;
}

.sidebar {
  height: 600px;
  background-color: #FFD8CF;
  width: 200px;
  float: left;
}

.contents {
  height: 600px;
  background-color: #E8E5FF;
  width: 900px;
  float: left;
}