li {
  list-style: none;
}

.header {
  height: 65px;
  border-bottom: 1px solid #dddddd;
}

.header-left {
  float: left;
  padding: 10px 60px;
  color: #ED7000;
  font-size: 30px;
}

.header-right {
  float: right;
  color: #808080;
}

.header-right li {
  float: left;
  padding: 20px 30px;
  border-left: 1px solid #dddddd;
}

.selected {
  color: #ED7000;
}

.main {
  width: 1300px;
}

.footer {
  height: 200px;
  background-color: #FCFFC0;
  clear: left;
}

.sidebar {
  height: 600px;
  background-color: #FFD8CF;
  width: 200px;
  float: left;
}

.contents {
  height: 600px;
  background-color: #E8E5FF;
  width: 900px;
  float: left;
}