.header {
  height: 65px;
  background-color: #DAFFE7;
  border-bottom: 1px solid #dddddd;
}

.header-left {
  float: left;
  padding: 10px 60px;
}

.header-right {
  float: right;
}

.header-right li {
  float: left;
  /*太さ1px 種類solid 色#DDDDDD のborder-leftをつけてください*/
  border-left:1px solid #DDDDDD;
  /*上下のpaddingを20px 左右のpaddingを30px にしてください*/
  padding:20px 30px;
}

.main {
  width: 1300px;
}

.footer {
  height: 200px;
  background-color: #FCFFC0;
  clear: left;
}

.sidebar {
  height: 600px;
  background-color: #FFD8CF;
  width: 200px;
  float: left;
}

.contents {
  height: 600px;
  background-color: #E8E5FF;
  width: 900px;
  float: left;
}