/*headerの 背景色を#DAFFE7 高さを65px にしてください*/
.header {background-color:#DAFFE7;
         height:65px;
         }
         


/*mainの 背景色を#FFF0E4 高さを600px 幅を1300px にしてください*/
.main {background-color:#FFF0E4;
       height:600px;
       width:1300px;
       }


/*footerの 背景色を#FCFFC0 高さを200px にしてください*/
.footer {background-color:#FCFFC0;
         height:200px;
         }
