h1 {
  color: #E6855E;
  font-size: 30px;
  /*背景の色を#F3F372にしてください*/
  background-color: #F3F372;
  /*高さを80pxにしてください*/
  height: 80px;
  /*幅を500pxにしてください*/
  width: 500px;
}

img {
  /*高さを50pxにしてください*/
  height: 50px;
  /*幅を70pxにしてください*/
  width: 70px;
}